@import "tailwindcss";

.dashboard-container{
    @apply min-h-screen flex items-center justify-center;
}
.dashbaord-button{
    @apply border-2 p-2 rounded-2xl cursor-pointer hover:bg-blue-400 active:bg-blue-500 hover:border-blue-500 active:border-blue-400 font-bold hover:text-white;
}